{
  "Servers": {
    "1": {
      "Name": "PostgreSQL",
      "Group": "Servers",
      "Host": "{{ postgresql_host }}",
      "Port": {{ postgresql_port | int }},
      "MaintenanceDB": "{{ postgresql_db_name }}",
      "Username": "{{ postgresql_user }}",
      "Password": "{{ postgresql_password }}",
      "SSLMode": "prefer"
    }
  }
}
